<h1 class="page-title"><i class="fa fa-calendar"></i> OnIt</h1>
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa fa-bars"></i> Projects
    </a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <span id="welcome" class="nav-link">Welcome, {{username}}</span>
        </li>
        <li class="nav-item">
          <a id ="logout-btn" class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="project-name" class="container my-4">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="project-header">{{project_name}}</h3>
    <button id ="new-project" class="btn btn-primary text-white">New Project</button>
    <p class="mb-0 project-header">Due Date: {{due_date}}</p>
  </div>
</div>
<div id="newtask">
    <button id ="new-task" class="btn btn-primary text-white">New Task</button>
</div>
<div id="week">
    <div class="d-flex justify-content-between">
    <button id="week-btn" class="btn btn-light text-dark">&lt; Previous Week</button>
    <button id="week-btn" class="btn btn-light text-dark">Next Week &gt;</button>
    </div>
</div>
<div id="calender-cards"></div>

<!-- Create Project Modal -->
{{> createProjectModal}}

<!-- New Task Modal -->
{{> newTaskModal}}

<!-- Include JavaScript files here -->
  <script src="/js/newTask.js"></script>
  <script src="/js/newProject.js"></script>
