<div class="heading-container text-center">
  <h1 class="heading-title"><i class="fa fa-calendar"></i> ON IT</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #beade6; height: 60px;">
</nav>

<div class="container-fluid p-0">
  <div class="d-flex align-items-center justify-content-center full-height">
    <div class="overlay">
      <div class="login-box" style="background-color: rgba(0, 0, 0, 0.5); padding: 2rem; border-radius: 8px; width: 100%; max-width: 400px; border: 2px solid #ffffff; margin-top: 5rem;">
        <form id="login-form">
          <div class="mb-3">
            <label for="username" class="form-label text-white">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label text-white">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password">
          </div>
          <button id = "Login-button" type="submit" class="btn btn-secondary w-50">Login</button>
          <div class="mt-3">
            <a href="#" class="text-black" data-bs-toggle="modal" data-bs-target="#createAccountModal">Create account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Create Account Modal -->
{{> createAccountModal}}

